body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div.main_video{
  width: 100%;
  height: 100vh;
}
video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* nastavenie navbaru */
.active{
  color: silver;
  text-decoration: underline;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000; /* Použitie premennej pre farbu pozadia */
  color: white;
  position: sticky;
  top: 0;
  transition: background-color 0.5s ease; /* Plynulý prechod farby */
  z-index: 2;
}



nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  margin-right:2rem ;
}

nav ul li {
 list-style: none; 
 font-size: 1.3rem;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin: 0 0.5rem;
}

nav ul li a:not(.active):hover {
  color: silver ;
  text-decoration: underline;
}

nav .menu {
  display: none;
  position: absolute;
  top: 1.5rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.2rem;
}


@media (max-width: 700px) {
  nav .menu {
      display: flex;
  }

  nav {
      flex-direction: column;
      align-items: flex-start;
  }

  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      margin-bottom: 0.25rem;
  }

  nav ul.open {
      display: flex;
  }

  nav ul li {
      width: 100%;
      text-align: center;
  }

  nav ul li a {
      margin: 0.2rem 0.5rem;
  }
  .title1{
  font-size: 2rem;
  }
  div.flex1{
    margin-top: 4rem;
    text-align:'center';
  }
  .title1{
    margin-top: 120vh;
  }
  div.bg{
    background-image: url('https://www.sodikart.com/content/images/sodi_kart_header.jpg');
    width: 100%;
    height: 89rem;
    background-size: cover;
  }
  .container1{
    margin-top: 3rem;
  }
  .bg div.content{
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  img.obrazok1{
    width: 400px;
    height: 180px;
  }
  img.obrazok2{
    width: 400px;
    height: 150px;
  }
  .footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: rem;
  }
}

@media (min-width: 700px) {
  .title1{
    font-size: 3rem;
  }
  div.flex1{
    gap:2rem; 
    margin-top: 2rem;
    text-align:'center';
  }
  .container1{
    margin-top: 3rem;
  }
  div.bg{
    background-image: url('https://www.sodikart.com/content/images/sodi_kart_header.jpg');
    width: 100%;
    height: 89rem;
    background-size: cover;
    position: absolute;
  }
  .title1{
    margin-top: 20vh;
  }
  .bg div.content{
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  img.obrazok1{
    width: 400px;
    height: 180px;
  }
  img.obrazok2{
    width: 400px;
    height: 150px;
  }
  .footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 89rem;
  }
}

@media (min-width: 1300px) {
  div.flex1{
    display: flex;
    gap:2rem; 
    margin-top: 2rem;
    text-align:'center';
  }
  div.bg{
    background-image: url('https://www.sodikart.com/content/images/sodi_kart_header.jpg');
    width: 100%;
    height: 45rem;
    background-size: cover;
  }
  .bg div.content{
    position: absolute;
    width: 100%;
    color: white;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  img.obrazok1{
    width: 400px;
    height: 180px;
  }
  img.obrazok2{
    width: 400px;
    height: 150px;
  }
  .footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 45rem;
  }
}
@media (max-width: 600px) {
  div.flex1{
    margin-top: 2rem;
    text-align: center; /* Opravená syntax */
  }
  div.bg{
    background-image: url('https://www.sodikart.com/content/images/sodi_kart_header.jpg');
    width: 100%;
    height: 90rem;
    background-size: cover;
  }
  .bg div.content{
    position: absolute;
    color: white;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  img.obrazok1{
    width: 300px;
    height: 150px;
  }
  img.obrazok2{
    width: 300px;
    height: 140px;
  }
  .title1{
    text-align: center;
  }
  .footer{
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: black;
    text-align: center;
    color: white;
    width: 100%;
    position: relative; /* Zmenené na relative */
    margin-top: auto; /* Zmenené na auto */
  }
}




p.text1{
  width: 400px;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.2rem;
  font-family: cursive;
}






.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}